body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 95%);
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: hsl(240, 100%, 50%);
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: hsl(240, 100%, 30%);
}

button:active {
    background-color: hsl(240, 100%, 60%);
}

input {
    width: 100px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

#diceResult {
    margin:  25px;
}

#diceImages img {
    width: 150;
    height: 150px;
    margin: 5px;
}
